<form method="post">
    <input type="text" name="Name" placeholder="Name" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="password" name="Password" placeholder="Password" />
    <button type="submit">Register</button>
</form>