@{
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>


<form method="post" action="/Admin/AdminLogin">

    <label>Email:</label><br />
    <input type="text" name="email" /><br /><br />

    <label>Password:</label><br />
    <input type="password" name="password" /><br /><br />

    <button type="submit">Login</button>


</form>

@if (ViewBag.Message != null)
{
    <p style="color:red">@ViewBag.Message</p>
}
