<form method="post">
    <input type="text" name="QuestionText" placeholder="Question" /><br />

    <input type="text" name="OptionA" placeholder="Option A" /><br />
    <input type="text" name="OptionB" placeholder="Option B" /><br />
    <input type="text" name="OptionC" placeholder="Option C" /><br />
    <input type="text" name="OptionD" placeholder="Option D" /><br />

    <input type="text" name="CorrectOption" placeholder="Correct Option (1-4)" /><br />

    <button type="submit">Save</button>
</form>