<div style="text-align:center; margin-top:100px;">

    <h1 style="color:green;">🎉 Quiz Completed!</h1>

    <h2>Your Score:</h2>
    <h1 style="font-size:50px;">@ViewBag.Score</h1>

    <a href="/Quiz/Start" style="padding:10px 20px; background:blue; color:white; border-radius:5px;">
        Try Again
    </a>

</div>